.align-middle{
	text-align:center;
	font-size: 4rem; 
	margin-top: 7%;
}
.form-group{
	margin-top: 10%;
}
.box{
	margin-top: 9%;
}
.card-block{
	font-size: 2rem;
}
.card11{
	background-color: lightsteelblue;
}
.card22{
	background-color:mediumseagreen;
}
